In [1]:
import pandas as pd
import numpy as np

Перечень заданий:

1. Загрузить, посмотреть, определить количество строк и объединить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.
2. Определить типы и статистики колонок
3. Определить эффективность маркетинговых каналов по привлечению платящих игроков
4. Определить количество игроков в каждой возрастной группе
5. Определить самую раннюю дату подписки на сервис
6. Определить портрет аудитории удержанных подписчиков (по возрасту и языку)

<h2>Задание 1:

Загрузить, посмотреть, определить количество строк и объединить 3 датасета: 
marketing_campaign.csv, users.csv и subscribers.csv.

In [3]:
marketing_campaign = pd.read_csv('marketing_campaign.csv')
users = pd.read_csv('users.csv')
subscribers = pd.read_csv('subscribers.csv')

<h4>Напишем простую функцию которая даст первичное описание обрабатываемых фреймов

In [22]:
def info_checker(frames_list: list):
    for el in frames_list:
        print(el.head(3))
        print(el.tail(3))
        print(el.info())
        print('-'*120)

In [23]:
info_checker([marketing_campaign, users, subscribers])

  user_id date_served marketing_channel          variant language_displayed  \
0   a1000      1/1/18         House Ads  personalization            English
1   a1001      1/1/18         House Ads  personalization            English
2   a1002      1/1/18         House Ads  personalization            English
3   a1003      1/1/18         House Ads  personalization            English
4   a1004      1/1/18         House Ads  personalization            English

  converted
0      True
1      True
2      True
3      True
4      True
      user_id date_served marketing_channel  variant language_displayed  \
10032  a11032     1/17/18             Email  control             German
10033  a11033     1/17/18             Email  control             German
10034  a11034      1/5/18         Instagram  control             German
10035  a11035     1/17/18             Email  control             German
10036  a11036      1/6/18          Facebook  control             German

      converted
10032      True
10033      True
10034     False
10035      True
10036     False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   date_served         10021 non-null  object
 2   marketing_channel   10022 non-null  object
 3   variant             10037 non-null  object
 4   language_displayed  10037 non-null  object
 5   converted           10022 non-null  object
dtypes: object(6)
memory usage: 470.6+ KB
None
------------------------------------------------------------------------------------------------------------------------
  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English
      user_id    age_group language_preferred
10032  a11032  45-55 years             German
10033  a11033    55+ years             German
10034  a11034    55+ years             German
10035  a11035   0-18 years             German
10036  a11036   0-18 years             German
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   age_group           10037 non-null  object
 2   language_preferred  10037 non-null  object
dtypes: object(3)
memory usage: 235.4+ KB
None
------------------------------------------------------------------------------------------------------------------------
  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True
      user_id subscribing_channel date_subscribed date_canceled is_retained
10032  a11032               Email         1/17/18       1/24/18       False
10033  a11033               Email         1/17/18           NaN        True
10034  a11034               Email         1/17/18           NaN        True
10035  a11035               Email         1/17/18           NaN        True
10036  a11036               Email         1/17/18           NaN        True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   subscribing_channel  1856 non-null   object
 2   date_subscribed      1856 non-null   object
 3   date_canceled        577 non-null    object
 4   is_retained          1856 non-null   object
dtypes: object(5)
memory usage: 392.2+ KB
None
------------------------------------------------------------------------------------------------------------------------

<h4> Из сводного описания видим:
<h4>   - Колонка-ключ для объединения ячеек user_id - 10037 записей
<h4>   - Среди других данных есть серии с меньшим числом колонок
<h4>   - Объединение  будем проводить внешнее 'outer' чтобы не потерять данные при внутреннем 'inner' объединении.
<h4>   - Также, есть возможность, что user_id в разных фреймах не полностью совпадает.

In [36]:
joined_data = marketing_campaign.merge(users, on='user_id', how='outer') \
                                .merge(subscribers, on='user_id', how='outer')

In [37]:
joined_data.head(3)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True

In [38]:
joined_data.tail(3)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German,Email,1/17/18,NaN,True
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German,Email,1/17/18,NaN,True
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German,Email,1/17/18,NaN,True

In [39]:
joined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   age_group            10037 non-null  object
 7   language_preferred   10037 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

<h4> - Итоговое количество строк совпадает с исходным

<h2>Ответ на задание 1:
<h3>Из отчета joined_data.info() видим количество строк 10037
<h3>Объединенная таблица joined_data

<h2>Задание 2:

Определить типы и статистики колонок

In [41]:
joined_data.head(3)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True

In [40]:
joined_data.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10021,10022,10037,10037,10022,10037,10037,1856,1856,577,1856
unique,10037,31,5,2,4,2,7,4,5,31,115,2
top,a1000,1/15/18,House Ads,control,English,False,19-24 years,English,Instagram,1/16/18,4/2/18,True
freq,1,789,4733,5091,9793,8946,1682,9275,600,163,15,1279

 Рассмотрев часть таблицы и просмотрев отчет describe делаем следующие выводы:
 - Тип данных - категориальные данные во всех колонках
 - Пользуясь статистикой колонок describe видим:
 - count - количество записей группы данных
 - unique - количество уникальных записей группы данных
 - top - самая частая категория записей (мода) группы данных
 - freq - количество повторений записей группы данных

<h2>Ответ на задание 2:
<h6>Тип данных - категориальные
<h6>Собран отчет по 4 характеристикам данных таблицы (count, unique, top, freq)

<h2>Задание 3:

Определить эффективность маркетинговых каналов по привлечению платящих игроков

Определим какая доля от платящих пользователей была привлечена по каждому marketing_channel
Показатель назовем efficiency_marketing_channel

In [77]:
result = joined_data.query('converted == True')[['marketing_channel', 'user_id']] \
                    .groupby('marketing_channel').count() \
                    .rename(columns ={'user_id': 'user_count'})
result['efficiency_marketing_channel'] = result['user_count'] / result['user_count'].sum()
result['efficiency_marketing_channel'] = result['efficiency_marketing_channel'].map(lambda x: round(x, 2))
result['efficiency_marketing_channel']

marketing_channel
Email        0.18
Facebook     0.22
House Ads    0.28
Instagram    0.25
Push         0.08
Name: efficiency_marketing_channel, dtype: float64

<h3>Ответ на задание 3:
    
<h6>Вклад каждого канала в привлечение платящих клиентов:
    
<h6>Email        = 0.18
<h6>Facebook     = 0.22
<h6>House Ads    = 0.28
<h6>Instagram    = 0.25
<h6>Push         = 0.08

<h3>Задание 4:

Определить количество игроков в каждой возрастной группе

In [80]:
joined_data[['age_group', 'user_id']].groupby('age_group').count().rename(columns={'user_id': 'user_count'})

             user_count
age_group
0-18 years         1539
19-24 years        1682
24-30 years        1568
30-36 years        1355
36-45 years        1353
45-55 years        1353
55+ years          1187

<h3>Задание 5:

Определить самую раннюю дату подписки на сервис

<h3>Ответ на задание 5:

Саммая ранняя дата подписки на сервис

In [92]:
pd.to_datetime(joined_data['date_subscribed']).min()

Timestamp('2018-01-01 00:00:00')

<h3>Задание 6:

Определить портрет аудитории удержанных подписчиков (по возрасту и языку)

In [93]:
joined_data.head(2)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True

DataFrame.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False, sort=True)[source]

In [133]:
pivot = joined_data.query('(is_retained == True)')[['age_group', 'language_preferred','user_id']] \
            .pivot_table(values='user_id', index='age_group', columns='language_preferred', aggfunc='count', fill_value=0)

In [136]:
pivot = pivot / pivot.sum(axis = 0)
pivot = pivot.applymap(lambda x: f'{round(x * 100, 1)} %')

<h3>Ответ на задание 3:

Сводная таблица распрделения языков по возрастным группам

In [138]:
pivot

language_preferred  Arabic English  German Spanish
age_group
0-18 years          25.0 %  17.8 %  22.7 %  13.6 %
19-24 years          8.3 %  25.8 %  25.0 %  22.7 %
24-30 years         25.0 %  21.2 %  34.1 %  11.4 %
30-36 years          0.0 %   9.7 %   2.3 %  15.9 %
36-45 years          8.3 %   9.1 %   4.5 %  11.4 %
45-55 years         16.7 %   9.2 %   6.8 %  13.6 %
55+ years           16.7 %   7.3 %   4.5 %  11.4 %